/* The standard CSS for doxygen 1.8.3.1 */


/* @group Heading Levels */

h1, h2, h3, h4, h5, h6 {
	-webkit-transition: text-shadow 0.5s linear;
	-moz-transition: text-shadow 0.5s linear;
	-ms-transition: text-shadow 0.5s linear;
	-o-transition: text-shadow 0.5s linear;
	transition: text-shadow 0.5s linear;
	margin-right: 15px;
}

h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
	text-shadow: 0 0 15px yellow;
}


div.line.glow {
	background-color: yellow;
	box-shadow: 0 0 10px yellow;
}

.tabs, .tabs2, .tabs3 {
	background-color: #333333;
    background-image: none;
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;

}

.tablist a {

	background-image:none;
	background-color: #333333;
	color: #FFFFFF;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

.tablist a:hover {
	background-image:none;
	background-color: #AAAA00;
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#FF0033)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, white, #FF0033); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, white, #FF0033); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, white, #FF0033); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, white, #FF0033);

	color: #000000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1.0);
    text-decoration: none;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

.tablist li.current a 
{
	background-image:none;
	background-color: #AAAA00;
	
	/* Safari 4-5, Chrome 1-9 */ 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#FF0033)); 
	/* Safari 5.1, Chrome 10+ */ 
	background: -webkit-linear-gradient(top, white, #FF0033); 
	/* Firefox 3.6+ */ 
	background: -moz-linear-gradient(top, white, #FF0033); 
	/* IE 10 */ 
	background: -ms-linear-gradient(top, white, #FF0033); 
	/* Opera 11.10+ */ 
	background: -o-linear-gradient(top, white, #FF0033);

	color: #000000;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 1.0);
    text-decoration: none;
    
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

#titlearea
{
	color: #FFFFFF;
	background-color: black;
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid #FF0066;
}



.ui-resizable-e {
  background: repeat scroll right center transparent;
  cursor:e-resize;
  background-color: #333333;
  height:100%;
  right:0;
  top:0;
  width:6px;
}

#nav-tree .selected {
  background-image: none;
  background-color: #333333;
  background-repeat:repeat-x;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

.ui-resizable-handle {
  display:none;
  font-size:0.1px;
  position:absolute;
  z-index:1;
}

.navpath ul {

    font-size: 11px;
    background-image: none;
    background-color: #333333;
    background-repeat: repeat-x;
    background-position: 0px -5px;
    height: 30px;
    line-height: 30px;
    color: rgb(138, 160, 204);
    border: 1px solid rgb(194, 205, 228);
    overflow: hidden;
    margin: 0px;
    padding: 0px;

}

.navpath li.footer {

    list-style-type: none;
    float: right;
    padding-left: 10px;
    padding-right: 15px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right center;
    color: #FFFFFF;
    font-size: 8pt;

} 

.navpath li.navelem a {
    height: 32px;
    display: block;
    outline: medium none;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

a {
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-decoration: none;
}

#nav-tree .selected a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#projectname {
    font: 300% Helvetica,Tahoma,Arial,sans-serif;
    margin: 0px;
    padding: 0px 0px;
    color: white;
    text-shadow: 0 0 0.2em blue, 0 0 0.2em blue;
}

div.header {
    background-image: none;

}


.memproto, dl.reflist dt {
    background-image: none;
}



.tablist li {
    float: left;
    display: table-cell;
    background-image: none;
    line-height: 36px;
    list-style: none outside none;
}

.contents a:visited {
	color: green;
}
